#Dependencies
ffmpeg
/Applications/MATLAB_R2016a.app/bin/matlab

#Python modules
sys
os
subprocess
json
LingAnalysis
LingAnalysis_NonEnglish
pandas
scipy.stats
os.path
glob
numpy
import speech_recognition as sr

#Paths
openface = /Users/morales/GitHub/OpenFace/bin/FeatureExtraction
syntaxnet = /Users/morales/Github/models/syntaxnet

#API credentials
GOOGLE_SPEECH_RECOGNITION_API_KEY = 'AIzaSyCQNG-Jeageo_myq7MJTBzoxAdSq8oqASc'
IBM_USERNAME = "28e8d133-29a7-477e-9544-d3ac977218ab"
IBM_PASSWORD = "JPyxiE3a4ADK"
